@import "components/buttons";
@import "components/modal";

.form {

  margin: 30px auto 0;
  width: 400px;
  display: flex;
  flex-direction: column;

  label {

    font-size: 16px;
    color: #797878;

    input {

      padding: 8px;
      margin-top: 15px;
      width: 300px;

    }
  }
}

#validate {

  flex-direction: column;
  width: 435px;
  margin: 30px auto 0;

  label {

    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #797878;

    input {
      padding: 8px;
      margin-top: 15px;
      width: 300px;
    }

  }
}

.title {

  font-size: 18px;
  text-align: center;
  font-weight: 700;

}

.updatePassword {

  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;

  &__label {

    margin-top: 25px;
    position: relative;
    height: 50px;

    b {
      color: #797878;
    }

    input {
      position: absolute;
      left: 25%;
      top: -40%;
      width: 350px;
      padding: 12px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  }
}